body{
  background-color: #E9EBEE;
}
.bg{
  background-color: #E9EBEE;
}

.modal-dialog {
  max-width: 600px;
  margin: 1.75rem auto;
}
.img{
  max-width: 100%;
  min-width: 100%;
  max-height: 400px;
  border-radius: 3px;
}

.modal-footer {
  border: none !important;
}
.mb-none{
  margin-bottom: none !important;
}
.pt-0{
  padding-top: 0px;
}
.pb-0{
  padding-bottom: 0;
}
.li{
  list-style: none;
}
.dropdown, .dropleft, .dropright, .dropup {
  position: relative;
  list-style: none !important;
}

.dropdown-menu.show {
  display: block;
  margin-left: -70px;
}

.MuiAvatar-root {
  width: 120px !important;
  height: 120px !important;
}

.MuiCardContent-root:last-child {
  display: inline-block !important;
}

.MuiCardContent-root:last-child {
  width: 100%;
}
.avatar-img{
  border-radius:  100%;
}

.dropdown, .dropleft, .dropright, .dropup {

  cursor: pointer !important;
}